################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/Perform.Core/obj
/source/*/obj
/source/*/bin
.vs
/tests/Perform.Script.UnitTests/obj/x64/Debug/net8.0/Perform.Script.UnitTests.AssemblyInfo.cs
/tests/Perform.Script.UnitTests/obj/x64/Debug/net8.0/Perform.Script.UnitTests.AssemblyInfoInputs.cache
